@model DoAn_Ecommerce.Areas.Admin.Models.HoaDonModel

@{
    ViewData["Title"] = "Create";
    ViewData["HoaDon"] = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Hóa Đơn</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="KhachHang" class="control-label"></label>
                                <select asp-for="KhachHang" class="form-control" asp-items="ViewBag.KhachHang"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NgayLapHD" class="control-label"></label>
                                <input asp-for="NgayLapHD" class="form-control" />
                                <span asp-validation-for="NgayLapHD" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TrangThaiGiaoHang" class="control-label"></label>
                                <input asp-for="TrangThaiGiaoHang" class="form-control" />
                                <span asp-validation-for="TrangThaiGiaoHang" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                                </label>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary" value="Create">Create</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>
<!-- /.content -->
  </div>
<!-- /.content-wrapper -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
