@model DoAn_Ecommerce.Areas.Admin.Models.SanPhamModel

@{
    ViewData["Title"] = "Edit";
    ViewData["SanPham"] = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SanPhamModel</h4>
<hr />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create user</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Edit">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="TenSanPham" class="control-label"></label>
                                <input asp-for="TenSanPham" class="form-control" />
                                <span asp-validation-for="TenSanPham" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HinhAnh" class="control-label"></label>
                                <input asp-for="HinhAnh" class="form-control" />
                                <span asp-validation-for="HinhAnh" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SoLuongTon" class="control-label"></label>
                                <input asp-for="SoLuongTon" class="form-control" />
                                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gia" class="control-label"></label>
                                <input asp-for="Gia" class="form-control" />
                                <span asp-validation-for="Gia" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mota" class="control-label"></label>
                                <input asp-for="Mota" class="form-control" />
                                <span asp-validation-for="Mota" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MaLoai" class="control-label"></label>
                                <select asp-for="MaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
                                <span asp-validation-for="MaLoai" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
</section>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
