@model TinTucModel
<div class="modal fade" id="addtintuc">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tin Tức</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="TieuDe" class="control-label"></label>
                        <input asp-for="TieuDe" class="form-control" />
                        <span asp-validation-for="TieuDe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TomTat" class="control-label"></label>
                        <input asp-for="TomTat" class="form-control" />
                        <span asp-validation-for="TomTat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoiDung" class="control-label"></label>
                        <input asp-for="NoiDung" class="form-control" />
                        <span asp-validation-for="NoiDung" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayDang" class="control-label"></label>
                        <input asp-for="NgayDang" class="form-control" />
                        <span asp-validation-for="NgayDang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LuotXem" class="control-label"></label>
                        <input asp-for="LuotXem" class="form-control" />
                        <span asp-validation-for="LuotXem" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="NguoiDang" class="control-label"></label>
                        <select asp-for="NguoiDang" class="form-control" asp-items="ViewBag.NguoiDang"></select>
                    </div>
                    <div class=" custom-file">
                        <input accept="*.png|*.jpg|*.jpeg" type="file" class="custom-file-input" id="ful" name="ful" />
                        <label class=" custom-file-label" for="ful">Chon hinh</label>
                    </div>
                    <div class="form-group">
                        <img id="imgPre" src="~/images/pro/Capture.jpg" alt="no image" class="img-thumbnail" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL (input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ful").change(function () {
            readURL(this, '#imgPre');
        });
    </script>
}